* {
    padding: 0;
    margin: 0;
}

#app {
    padding: 28px; 
    display: flex;
    /* X */
    justify-content: space-between;
    /* y */
    align-items: center;

    /* vh */
    height: 100vh;
  
  }   

  .box {
      background: magenta;
      color: blue;
  }

  .header {
      background-color: aqua;
  }
 
  .header__link {
      color: darkblue;
  }